#headerWrapper {
  position: fixed;
  top: 0px;
  transition: .3s;
}

.boilerPlateWrapperAnalysis {
  width: 100%;
  height: calc(100vh - 86px);
  margin-top: 86px;
}

.boilerPlateHeader {
  font-family: "SB Sans Display Semibold";
}

